name: Build

on:
  workflow_dispatch:
  repository_dispatch:

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: echo
        run: 'echo "modules tag: ${{ github.event.client_payload.tag }}"'
      - name: Modify version number
        uses: mingjun97/file-regex-replace@v1
        with:
          regex: 'modules_ref *= *"([0-9\.a-zA-Z-]*)"'
          replacement: 'modules_ref    = "${{ github.event.client_payload.tag }}"'
          flags: "g"                                                  # Optional, defaults to "g"
          include: 'modules.hcl.cicd'                                 # Optional, defaults to ".*"
          exclude: '.^'                                               # Optional, defaults to '.^'
          encoding: 'utf8'                                            # Optional, defaults to 'utf8'
          path: 'terragrunt/sdr/dev/us-east-1/dev/'                   # Optional, defaults to '.'
      - name: Tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: push
        uses: github-actions-x/commit@v2.8
        with:
          commit-message: "Updated Modules Tag = ${{ github.event.client_payload.tag }}"
          force-add: 'true'
          name: kor-robot
          email: kor-robot-no-reply@korfinancial.com